/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {

    background: linear-gradient(to top right, rgba(139, 139, 139, 0.34), rgba(12, 12, 12, 0.786)), url('aerial-beautiful-shot-seashore-with-hills-background-sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    background: #f29639d8;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: #fff;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
    flex-wrap: wrap;
}

.weather-input {
    width: 550px;
    margin: auto;
    text-align: center;

}

.weather-input h3 {
    color: #fff;
    font-weight: 400;
    font-size: 2.5vmin;
}

.weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;

}

.weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #f29639d8;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #f29639d8;
    transition: 0.2s ease;
}

.weather-input .search-btn:hover {
    background: #f29639;
}

.weather-input .location-btn {
    background: #6c757d18;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.462);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.546);
}

.weather-input .location-btn:hover {
    background: #5c636a;
}

.weather-data {
    width: 100%;
    margin: auto;
}

.weather-data .current-weather {
    width: 60%;
    margin: auto;
    color: #fff;
    background: #6987ff5f;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    background: #0000001c;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.184);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.546);
}

.current-weather h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast {
    width: 90%;
    justify-content: center;
    margin: 8vmin auto 8vmin auto;
}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #0000001c;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.184);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.521);
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }

    .weather-cards {
        flex-wrap: wrap;
    }

    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }

    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }

    .container {
        flex-wrap: wrap;
        padding: 15px;
    }

    .weather-input {
        width: 100%;
    }

    .weather-data h2 {
        font-size: 1.35rem;
    }
}